In [3]:
import pandas as pd
plays = pd.read_csv("teams.csv")
plays

,season,teamId,abbr,cityState,fullName,nick,conferenceAbbr,divisionAbbr
0,1999,200,ATL,Atlanta,Atlanta Falcons,Falcons,NFC,NCW
1,1999,325,BAL,Baltimore,Baltimore Ravens,Ravens,AFC,ACC
2,1999,610,BUF,Buffalo,Buffalo Bills,Bills,AFC,ACE
3,1999,750,CAR,Carolina,Carolina Panthers,Panthers,NFC,NCW
4,1999,810,CHI,Chicago,Chicago Bears,Bears,NFC,NCC
...,...,...,...,...,...,...,...,...
195,2012,5110,WAS,Washington,Washington Redskins,Redskins,NFC,NCE
196,2013,200,ATL,Atlanta,Atlanta Falcons,Falcons,NFC,NCS
197,2013,325,BAL,Baltimore,Baltimore Ravens,Ravens,AFC,ACN
198,2013,610,BUF,Buffalo,Buffalo Bills,Bills,AFC,ACE
199,2013,750,CAR,Carolina,Carolina Panthers,Panthers,NFC,NCS